* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----- Site General -----*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
}

a {
    font-size: 13px;
    color: #edf4ec;
}

h1, h2 {
    font-weight: 900;
}

h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

small {
    font-weight: bold;
    text-transform: uppercase;
    color: #088181;
}

.buttn {
    padding: 10px;
    border-radius: 5px;
}

.one {
    text-transform: uppercase;
    background-color: #088181;
    border: 1px solid #088181;
}

.one:hover {
    text-decoration: none;
    color: #fff;
}

.two {
    background-color: transparent;
    border: 1px solid #088181;
}

.two:hover {
    text-decoration: none;
    background-color: #088181;
    color: #8cdadc;
}

.three {
    background-color: #8cdadc;
    border: 1px solid #8cdadc;
    color: #088181;
}

.three:hover {
    text-decoration: none;
    color: #fff;
}

/*----- Site Sections -----*/

.info-bar {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #21333E;
}

.info-bar small {
    font-weight: normal;
    text-transform: none;
    color: #fff;
}

.info-bar .fas, .fab{
    vertical-align: middle;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*----- Nav Jumbo Section -----*/

.nav-jumbo {
    display: flex;
    position: relative;
    height: calc(800px - 50px);
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('img/jumbo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}


.nav-jumbo a {
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-jumbo a:hover {
    color: #8cdadc;
}

.nav-jumbo .navbar {
    display: flex;
    justify-content: space-between;
}

.nav-jumbo span.logo-deco {
    padding-right: 5px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(7, 233, 233, 0.67);
}

.nav-jumbo .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-jumbo .navbar-nav a {
    margin: 0 15px;
}

.nav-jumbo .nav-links:last-child a {
    color: #edf4ec;
}


/*Jumbo*/

.nav-jumbo .jumbo {
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 300px;
}

.nav-jumbo .jumbo p {
    font-size: 16px;
    padding: 15px 0;
    color: #7f939c;
}



/*----- Business Section -----*/

.business {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    background-color: #edf4ec;
    padding: 100px 0;
}

.business .services {
    display: flex;
    width: 320px;
    flex-direction: column;
}

.business .services h2, p {
    color: #252c2f;
}

.business .services p {
    font-size: 13px;
}

.business .services .traits {
    padding: 15px 0;
}

.business .services .cta {
    padding: 15px 0;
}

.business .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px 50px;
    background-color: #fff;
    border-radius: 20px;
    color: #252c2f;
}

.business .cards .img-card {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.business .cards .img-card > img {
    width: 185px;
}
